<!DOCTYPE html>
<html>

<head>
  <script src="bower_components/platform/platform.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/paper-shadow/paper-shadow.html">
  <link rel="import" href="elements/hello-card-chrome/hello-card-chrome.html">
  <link rel="import" href="elements/hello-weather-card/hello-weather-card.html">
  <link rel="import" href="elements/hello-shortcuts-card/hello-shortcuts-card.html">
  <link rel="import" href="elements/hello-newswire-card/hello-newswire-card.html">
  <link rel="import" href="elements/hello-gmail-card/hello-gmail-card.html">
  <link rel="import" href="elements/hello-clock-card/hello-clock-card.html">
  <link rel="import" href="elements/hello-welcome-card/hello-welcome-card.html">
  <link rel="import" href="elements/hello-stocks-card/hello-stocks-card.html">
  <link rel="import" href="elements/hello-flickr-card/hello-flickr-card.html">
</head>

<body unresolved>
  <core-toolbar>
    <!--paper-icon-button icon="menu"></paper-icon-button-->
    <div class="bottom indent title">HelloBoxes</div>
  </core-toolbar>

  <div id="tabletop" horizontal center-justified wrap layout>
    <hello-card-chrome>
      <hello-welcome-card></hello-welcome-card>
    </hello-card-chrome>
    <hello-card-chrome>
      <hello-shortcuts-card></hello-shortcuts-card>
    </hello-card-chrome>
    <hello-card-chrome>
      <hello-newswire-card></hello-newswire-card>
    </hello-card-chrome>
    <hello-card-chrome>
      <hello-clock-card></hello-clock-card>
    </hello-card-chrome>
    <hello-card-chrome>
      <hello-weather-card></hello-weather-card>
    </hello-card-chrome>
    <hello-card-chrome>
      <hello-stocks-card></hello-stocks-card>
    </hello-card-chrome>
    <hello-card-chrome>
      <hello-flickr-card></hello-flickr-card>
    </hello-card-chrome>
  </div>

</body>

</html>
