<!DOCTYPE html>
<html>

<head>
  <script src="bower_components/platform/platform.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/flexbox.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/paper-shadow/paper-shadow.html">
  <link rel="import" href="elements/hello-weather-card/hello-weather-card.html">
  <link rel="import" href="elements/hello-shortcuts-card/hello-shortcuts-card.html">
</head>

<body unresolved>
  <core-toolbar>
    <paper-icon-button icon="menu"></paper-icon-button>
    <div class="bottom indent title">Hello Cards</div>
  </core-toolbar>

  <div class="row" id="tabletop">
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
      <hello-weather-card></hello-weather-card>
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
      <hello-shortcuts-card></hello-shortcuts-card>
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
    <div class="column-12-hand column-6-lap column-4-desk column-3-wall card-wrapper">
    </div>
  </div>

</body>

</html>
